@media (min-width: 320px) and (max-width: 767px) {
    .cmp_header,
    .cmp_main,
    .cmp_footer {
        width: 280px;
    }
    body.lock {
        overflow: hidden;
    }
    .cmp_header {
        margin: 0;
        position: relative;
        top: 0;
        left: 0;
        z-index: 50;
        height: 70px;
        -webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
    }
    .cmp_header::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 70px;
        z-index: 2;
    }
    .cmp_header_logo {
        width: 109px;
        height: 40.06px;
    }
    .cmp_header__burger {
        display: block;
        position: relative;
        width: 24px;
        height: 20px;
        z-index: 3;
        right: 0px;
    }
    .cmp_header__burger::before,
    .cmp_header__burger::after {
        content: "";
        background-color: black;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }
    .cmp_header__burger::before {
        top: 0;
    }
    .cmp_header__burger::after {
        bottom: 0;
    }
    .cmp_header__burger span {
        position: absolute;
        background-color: black;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;
    }
    .cmp_header__burger.active::before {
        transform: rotate(45deg);
        top: 9px;
    }
    .cmp_header__burger.active::after {
        transform: rotate(-45deg);
        bottom: 9px;
    }
    .cmp_header__burger.active span {
        transform: scale(0);
    }
    .cmp_header_list {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        background-color: #E5E5E5;
        height: 100%;
        align-items: start;
        padding: 120px 10px 20px 20px;
        display: block;
        transition: all 0.3s ease 0s;
        overflow: auto;
    }
    .cmp_header_list.active {
        top: 0;
    }
    .cmp_header_item {
        padding-bottom: 30px;
    }
    .cmp_header_link {
        width: 109px;
        height: 40.06px;
    }
    .cmp_computing1 {
        width: 280px;
        height: 408px;
        position: relative;
        top: -300px;
    }
    .h1_title {
        font-size: 30px;
        line-height: 35px;
    }
    .cmp_main_section1 {
        flex-direction: column-reverse;
        position: relative;
    }
    /*! Надо поправить */
    .cmp_computing2 {
      width: 426.86px;
      height: 660.75px;
      position: relative;
      top: -200px;
      left: -63px;
      transform: scale(0.6);
    }
    .main_paragraph {
        font-size: 16px;
    }
    .cmp_computing_btn {
        font-size: 22px;
        width: 280px;
        height: 47px;
    }
    .cmp_machine {
        margin-top: -230px;
    }
    .machine_section1 {
        margin-bottom: 14px;
    }
    .machine_subtitle {
        font-size: 20px;
        line-height: 23px;
    }
    .h2_title {
        font-size: 25px;
        line-height: 29px;
    }
    .cmp_machine_title {
        padding-bottom: 4px;
    }
    .machine_section2 {
        flex-direction: column;
    }
    .machine_section2_block {
        width: 268px;
        height: 320px;
    }
    .machine_section2_img {
        width: 268px;
        height: 320px;
        margin-left: 6px;
    }
    .machine_section2_content {
        width: 280px;
        height: 752px;
        margin-top: 30px;
    }
    .machine_section2_list {
        display: flex;
        flex-direction: column;
    }
    .machine_list_gray br {
        display: none;
    }
    .machine_section2_list > li:nth-child(1) {
        order: 1;
    }
    .machine_section2_list > li:nth-child(2) {
        order: 3;
    }
    .machine_section2_list > li:nth-child(3) {
        order: 5;
    }
    .machine_section2_list > li:nth-child(4) {
        order: 7;
    }
    .machine_section2_list > li:nth-child(5) {
        order: 9;
    }
    .machine_section2_list > li:nth-child(6) {
        order: 11;
    }
    .machine_section2_list > li:nth-child(7) {
        order: 13;
    }
    .machine_section2_list > li:nth-child(8) {
        order: 2;
    }
    .machine_section2_list > li:nth-child(9) {
        order: 4;
    }
    .machine_section2_list > li:nth-child(10) {
        order: 6;
    }
    .machine_section2_list > li:nth-child(11) {
        order: 8;
        width: 245px;
    }
    .machine_section2_list > li:nth-child(12) {
        order: 10;
    }
    .machine_section2_list > li:nth-child(13) {
        order: 12;
    }
    .machine_section2_list > li:nth-child(13) br {
        display: none;
    }
    .machine_section2_list > li:nth-child(14) {
        order: 14;
    }
    .machine_list_gray {
        font-size: 16px;
        padding-bottom: 10px;
    }
    .machine_list_normal {
        font-size: 16px;
        padding-bottom: 26px;
    }
    .machine_section2_paragraph {
        padding: 10px 0px;
    }
    #machine_special_paragraph br {
        display: none;
    }
    .cmp_advantages {
        margin-top: 70px;
    }
    .advantages_paragraph {
        padding: 6px 0px 20px 0px;
    }
    .cmp_advantages_section1 {
        margin-bottom: 50.19px;
    }
    .cmp_advantages_section1 > div:nth-child(1) {
        margin: 0;
    }
    .cmp_advantages_section1 > div:nth-child(2) {
        margin: 0;
    }
    .cmp_advantages_section1 > div:nth-child(3) {
        margin: 0;
    }
    .cmp_advantages_section1 > div:nth-child(5) {
        margin: 0;
    }
    .cmp_advantages_section1 > div:nth-child(6) {
        margin: 0;
    }
    .cmp_advantages_section1 > div:nth-child(7) {
        margin: 0;
    }
    .cmp_advantages_section1 > div:nth-child(8) {
        margin: 0;
    }
    .cmp_advantages_block {
        width: 280px;
        height: 223.81px
    }
    .advantages_content {
        padding-top: 36.81px;
        text-align: center;
    }
    .cmp_advantages_img {
        margin-top: 29px;
        width: 110px;
        height: 110px;
    }
    .advantages_content br {
        display: none;
    }
    #avantages_special_text1 {
        width: 245px;
    }
    .cmp_advantages_section2 {
        margin-bottom: 30px;
        flex-direction: column;
    }
    .cmp_advantages_section2_content1 {
        width: 100%;
    }
    .cmp_advantages_section2_content2 {
        width: 100%;
        margin-top: 36.1px;
    }
    .cmp_advantages_section2_img {
        width: 56.2px;
        height: 64.9px;
        margin-right: 10.8px;
    }
    .cmp_advantages_paragraph {
        font-size: 16px;
        line-height: 19px;
    }
    .cmp_advantages_paragraph br {
        display: none;
    }
    .cmp_advantages_flexcontainer {
        width: 100%;
        flex-direction: column;
    }
    .cmp_advantages_input {
        width: 100%;
        height: 39px;
    }
    .cmp_advantages_input::placeholder {
        font-size: 16px;
    }

    .cmp_advantages_input[type="text"] {
        font-size: 16px;
    }
    .cmp_advantages_btn {
        padding: 0;
        font-size: 16px;
        width: 100%;
        height: 39px;
        margin-top: 20px;
    }
    .cmp_supported {
        display: none;
    }
    .cmp_pricing {
        margin-top: 70px;
        flex-direction: column;
    }
    .cmp_pricing_btn_block {
        width: 100%;
        flex-direction: column;
    }
    .cmp_pricing_btn1 {
        padding: 6.81px 40px 6.81px 46px;
        font-size: 14.9839px;
        width: 280px;
        height: 35.98px;
    }
    .cmp_pricing_btn2 {
        padding: 6.81px 72px 6.81px 77.5px;
        font-size: 14.9839px;
        width: 280px;
        height: 35.98px;
        margin-top: 20px;
    }
    .cmp_pricing_section2 {
        margin-top: 30px;
    }
    .cmp_pricing_img {
        width: 280px;
        height: 45.79px;
    }
    .cmp_wrap_footer {
        margin-top: 70.21px;
    }
    .cmp_footer {
        height: 189px;
        margin-top: 30px;
        margin-bottom: 55px;
        position: relative;
        flex-direction: column;
        justify-content: start;
    }
    .cmp_footer_section1 {
        position: absolute;
        height: 189px;
    }
    .cmp_footer_logo {
        padding: 0;
        width: 97.95px;
        height: 36px;
    }
    .cmp_footer_section2 {
        width: 100%;
        height: 77.63px;
        margin-top: 64px;
    }
    .cmp_footer_nav {
        padding: 0;
    }
    .cmp_footer_link, .cmp_footer_link:visited {
        font-size: 16px;
    }
    .cmp_footer_icons {
        padding-top: 33px;
    }
    .cmp_icons_list {
        -webkit-box-pack: space-between;
            -ms-flex-pack: space-between;
                justify-content: space-between;
    }
    .cmp_icons_item {
        padding-left: 0px;
    }
    .cmp_icons_link img {
        height: 22.63px;
        width: 22.63px;
    }
    .cmp_company_year {
        padding: 0;
        font-size: 16px;
        position: absolute;
        top: 167px;
        left: 0;
    }
    .popup_content {
        width: 280px;
        height: 718px;
    }
    .popup_close {
        width: 20px;
        height: 20px;
    }
    .popup_title {
        font-size: 22px;
        line-height: 25px;
        width: 191px;
    }
    .pop_input {
        margin-bottom: 14px;
    }
    .pop_paragraph br {
        display: none;
    }
    .pop_paragraph2 br {
        display: none;
    }
    .pop_paragraph {
        font-size: 16px;
    }
    .pop_paragraph2 {
        font-size: 14px;
        margin: 14px 0px 0px 0px;
    }
    .pop_input {
        height: 44px;
    }
    .pop_input::placeholder {
        font-size: 16px;
    }
    .pop_input[type="text"] {
        font-size: 16px;
    }
    .pop_footer {
        flex-direction: column;
    }

    .popup_content2 {
        width: 280px;
        height: 500px;
    }
    .popup_close2 {
        width: 20px;
        height: 20px;
    }
    .popup_title2 {
        font-size: 22px;
        line-height: 25px;
        width: 191px;
    }
    .pop_input2 {
        margin-bottom: 14px;
    }
    .pop_input2 {
        height: 44px;
    }
    .pop_input2::placeholder {
        font-size: 16px;
    }
    .pop_input2[type="text"] {
        font-size: 16px;
    }
    .pop_footer2 {
        flex-direction: column;
    }
}
