@media (min-width: 320px) and (max-width: 767px) {
    .hm_header, 
    .hm_main,
    .hm_footer {
        width: 280px;
    }
    .hm_header {
        height: 70px;
        -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    }
    .hm_header_link {
        width: 97.95px;
        height: 36px;
    }
    .hm_header_logo {
        width: 97.95px;
        height: 36px;
    }
    .hm_header_nav {
        font-size: 16px;
        line-height: 19px;
        padding-bottom: 0px;
    }
    .hm_wrap_main {
        margin-top: 75px;
    }
    .hm_main {
        width: 100%;
    }
    .hm_main_title {
        font-size: 30px;
        line-height: 35px;
        padding-bottom: 10px;
    }
    .hm_main_paragraph {
        font-size: 16px;
    }
    .hm_main_paragraph br {
        display: none;
    }
    #main_br {
        display: block;
    }
    .hm_button_container {
        flex-direction: column;
        padding-top: 0px;
        align-items: center;
    }
    .hm_button_container > a:nth-child(1) {
        order: 1;
    }
    .hm_button_container > a:nth-child(2) {
        order: 3;
    }
    .hm_button_container > a:nth-child(3) {
        order: 2;
    }
    .hm_main_btn {
        margin-top: 20px;
        width: 234.63px;
        height: 39.1px;
        font-size: 16px;
    }
    .hm_btn2 {
        width: 218.63px;
        height: 39.1px;
    }
    .hm_btn3 {
        width: 171px;
        height: 39px;
    }
    .btn3_logo {
        width: 25.04px;
        height: 21.56px;
    }
    .hm_footer_span {
        font-size: 16px;
        line-height: 140%;
    }
    .hm_footer_link {
        font-size: 16px;
        line-height: 140%;
    }
}