.hm_wrap {
    width: 100%;
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
	position: absolute;
}
.hm_container {
	width: 100%;
	min-height: 100%;
    display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction: column;
    position: fixed;
}
.hm_wrap_header {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
}
.hm_header {
	width: 1291px;
	height: 90px;
    display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-pack: space-between;
		-ms-flex-pack: space-between;
	        justify-content: space-between;
    -webkit-box-align: flex-end;
        -ms-flex-align: flex-end;
            align-items: flex-end;
}
.hm_header_link {
    width: 155.02px;
    height: 56.98px;
}
.hm_header_logo {
    width: 100%;
    height: 100%;
}
.hm_header_nav {
    font-family: "Roboto_Regular";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    text-decoration-line: underline;
    color: #000000;
    padding-bottom: 17px;
}
.hm_wrap_main {
    flex: 1 1 auto;
    /* margin-top: 172px; */
    width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
}
.hm_main {
    width: 979.26px;
    height: 296.1px;
}
.hm_main_title {
    font-family: "Play_Bold";
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 64px;
    text-align: center;
    color: #000000;
    padding-bottom: 20px;
}
.hm_main_paragraph {
    font-family: "Roboto_Regular";
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 160%;
    text-align: center;
    color: #000000;
}
.hm_button_container {
    width: 100%;
    display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: space-between;
		-ms-flex-pack: space-between;
			justify-content: space-between;
    padding-top: 40px;
}
.hm_main_btn {
    width: 340.63px;
    height: 52.1px;
    border: 3px solid #FFAC22;
    border-radius: 5.44006px;
    background-color: Transparent;
    font-family: "Roboto_Regular";
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    color: #000000;
}
.hm_main_btn a, .hm_main_btn a:visited {
    color: #000000;
}
.hm_btn2 {
    width: 314.63px;
    height: 52.1px;
}
.hm_btn3 {
    width: 224px;
    height: 52px;
}
.btn3_logo {
    width: 35.7px;
    height: 30.74px;
}
.hm_wrap_footer {
    margin-top: 149px;
}
#particle-canvas {
  position: relative;
  width: 100%;
  height: 300px !important;
  position: absolute;
  top: 100px;
}
.hm_footer {
  width: 1291px;
  padding-top: 157px;
  padding-bottom: 82px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
  background: transparent;
}
.hm_footer_span {
    font-family: "Roboto_Regular";
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 140%;
    color: #000000;
    z-index: 1;
}
.hm_footer_link,  .hm_footer_link:visited {
    font-family: "Roboto_Regular";
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 140%;
    text-decoration-line: underline;
    color: #000000;
    z-index: 1;
}
.wrap_hm_footer {
    position: relative;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 198px;
    z-index: 1000;
}
