.au_wrap {
	width: 100%;
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
	position: absolute;
}
.au_container {
	width: 100%;
	min-height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction: column;
}
.au_wrap_header {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
}
.au_header {
	width: 1292px;
	height: 90px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: space-between;
		-ms-flex-pack: space-between;
			justify-content: space-between;
	-webkit-box-align: flex-end;
		-ms-flex-align: flex-end;
			align-items: flex-end;
}
.au_header_link {
	width: 155.02px;
	height: 56.98px;
}
.au_header_logo {
	width: 100%;
	height: 100%;
}
.au_header_list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    padding-bottom: 18px;
}
.au_header_item {
	margin-left: 50px;
}
.au_header_link, .au_header_link:visited {
	font-family: "Roboto_Regular";
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 23px;
	text-decoration-line: underline;
	color: #000000;
}
.au_wrap_main {
	flex: 1 1 auto;
    width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
}
.au_main {
    width: 1292px;
}
.about_us {
    margin-top: 160px;
    display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-pack: space-between;
		-ms-flex-pack: space-between;
			justify-content: space-between;
}

.h1_title {
    font-family: "Play_Bold";
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 64px;
    color: #000000;
    padding-bottom: 30px;
}
.au_paragraph {
    font-family: "Roboto_Regular";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 140%;
    color: #000000;
}
.au_section1 > p:nth-child(2), .au_section1 > p:nth-child(3) {
    padding-bottom: 20px;
}
.au_section2 {
	width: 682px;
	height: 504px;
	position: relative;
	top: -51px;
	left: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}
.mission_contact {
    margin-top: 28px;
    width: 1081px;
    display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-pack: space-between;
		-ms-flex-pack: space-between;
			justify-content: space-between;
}
.h3_title {
    font-family: "Play_Bold";
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    color: #000000;
    padding-bottom: 20px;
}
.au_mission > p:nth-child(2) {
    padding-bottom: 20px;
}
.au_contact {
    width: 331px;
}
.au_contact_section {
    width: 100%;
    display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-pack: space-between;
		-ms-flex-pack: space-between;
			justify-content: space-between;
}
.au_whatsapp {
    padding-top: 5px;
    padding-left: 5px;
}
.au_wrap_footer {
    margin-top: 160px;
    width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
    background: #F9F9F9;
}
.au_footer {
    width: 1292px;
    height: 153px;
    display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: space-between;
		-ms-flex-pack: space-between;
			justify-content: space-between;
    margin-top: 48px;
    margin-bottom: 75px;
}
.au_footer_section1 {
}
.au_company_year {
    font-family: "Roboto_Regular";
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 140%;
    color: #000000;
    padding-top: 60px;
}
.au_footer_section2 {
    width: 408px;
    height: 135.49px;
}
.au_footer_nav {
    width: 100%;
}
.au_footer_list {
    display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: space-between;
		-ms-flex-pack: space-between;
			justify-content: space-between;
}
.au_footer_link, .au_footer_link:visited {
    font-family: "Roboto_Regular";
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 140%;
    text-decoration-line: underline;
    color: #000000;
}
.au_footer_icons {
    padding-top: 73.51px;
}

.au_icons_list {
    display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: flex-end;
		-ms-flex-pack: flex-end;
			justify-content: flex-end;
	-webkit-box-align: start;
		-ms-flex-align: start;
			align-items: start;
}
.au_icons_item {
    padding-left: 21px;
}
.au_icons_link a {
    height: 27.72px;
    width: 27.72px;
}
canvas {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
