.gt_wrap_main {
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 auto;
	        flex: 1 1 auto;
    width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
}
.swal-text {
	font-family: 'Roboto_Regular';
	font-size: 18px;
}
.not_existing_sicials {
	display: none;
}
.swal-button {
	font-family: 'Roboto_Bold';
}
.gt_main {
    width: 1292px;
    position: relative;
}
.main_gtoken {
    position: relative;
    overflow: hidden;
    width: 100%;
    display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: space-between;
		-ms-flex-pack: space-between;
			justify-content: space-between;
}
.g_token-content {
    width: 550px;
    margin-top: 160px;
}
.g_token_content_br {
    display: none;
}
.g_token-content2 {
    width: 520px;
    position: absolute;
    z-index: -1;
    left: 514px;
}
.g_token-img2 {
    width: 100%;
    height: 100%;
}
.g_token_logo2 {
    width: 1042.97px;
    height: 602.11px;
}
.g_token-title {
    font-family: "Play_Bold";
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 64px;
    color: #000000;
    padding-bottom: 30px;
}
.g_token_paragraph {
    font-family: "Roboto_Regular";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 140%;
    color: #000000;
}
.g_token-img3 {
    display: none;
}
.main_tokenomics {
    width: 100%;
    margin-top: 159px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    flex-direction: column;
	-webkit-box-pack: flex-start;
		-ms-flex-pack: flex-start;
			justify-content: flex-start;
}
.h2_title {
    font-family: "Play_Bold";
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 46px;
    color: #000000;
}
.tokenomics_section {
    margin-top: 60px;
    width: 1257px;
    display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: space-between;
		-ms-flex-pack: space-between;
			justify-content: space-between;
}
.tokenomics_supply {
    width: 376px;
}
.tokenomics_subtitle {
    font-family: "Play_Bold";
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    color: #000000;
}
#circulating {
    padding-top: 10px;
    padding-bottom: 10px;
}
.tokenomics_numbers {
	top: -8px;
	position: relative;
    display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: space-between;
		-ms-flex-pack: space-between;
			justify-content: space-between;
}
.tokenomics_numbers-title {
    font-family: "Play_Bold";
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 140%;
    color: #000000;
}
.vesting {
    padding-bottom: 10px;
}
.main_allocation {
    margin-top: 124px;
    width: 1165.84px;
    display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: space-between;
		-ms-flex-pack: space-between;
			justify-content: space-between;
}
#allocation {
    padding-top: 42px;
    padding-bottom: 10px;
}
#allocation_title_br {
    display: none;
}
.dowloader {
    padding-top: 42.32px;
    width: 539px;
    display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: space-between;
		-ms-flex-pack: space-between;
			justify-content: space-between;
}
.allocation_btn {
    border: 3px solid #FFAC22;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 7px;
    background-color: Transparent;
    font-family: "Roboto_Bold";
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 140%;
    color: #000000;
    width: 262px;
    height: 50px;
}
#allocation_second_btn {
    width: 247px;
}
.allocation_section2 {
    width: 554.84px;
    display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: space-between;
		-ms-flex-pack: space-between;
			justify-content: space-between;
}
.allocation_section2-left {
    text-align: right;
    padding-top: 18px;
}
#allocation_left {
    width: 158px;
}
.allocation_section2-title {
    font-family: "Roboto_Bold";
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    color: #FFAC22;
}
.allocation_section2-right {
    padding-top: 15px;
}
#allocation_circulation {
    padding-bottom: 13px;
}
