.cps_modular2 {
    margin-top: 160px;
    width: 1136px;
    display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: space-between;
		-ms-flex-pack: space-between;
			justify-content: space-between;
}
.current_paragraph {
    padding-bottom: 10px;
}
.cps_question_item:nth-child(3) {
  position: relative;
  top: -28px;
}
.cps_modular3 {
    width: 991px;
    margin-top: 100px;
    display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: space-between;
		-ms-flex-pack: space-between;
			justify-content: space-between;
}
.cps_modular_question {
    margin-top: 160px;
    width: 100%;
}
.question_title {
    padding-bottom: 30px;
}
.cps_question_list {
    width: 100%;
    display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.cps_question_item {
    width: 300px;
    height: 302px;
    display: -webkit-box;
	display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
	-webkit-box-pack: flex-end;
		-ms-flex-pack: flex-end;
			justify-content: flex-end;
    -webkit-box-align: flex-start;
        -ms-flex-align: flex-start;
            align-items: flex-start;
}
.cps_question_list > li:nth-child(2) {
    padding-bottom: 28px;
}
.cps_question_list > li:nth-child(5) {
    height: 354px;
    padding-bottom: 56px;
    margin-top: 30px;
}
.cps_question_list > li:nth-child(6) {
    height: 354px;
    padding-bottom: 84px;
    margin-top: 30px;
}
.cps_question_list > li:nth-child(7) {
    height: 354px;
    padding-bottom: 56px;
    margin-top: 57px;
}
.cps_question_list > li:nth-child(8) {
    height: 354px;
    margin-top: 30px;
}
.cps_question_img {
    width: 100px;
    height: 100px;
    margin: 0 auto;
}
.cps_question_paragrapg {
    text-align: center;
    width: 260px;
    margin-top: 50px;
}
#cps_question_paragrapg1 {
    width: 300px;
}
.cps_prices {
    margin-top: 160px;
    width: 100%;
}
.cps_prices_title {
    padding-bottom: 30px;
}
.cps_prices_block {
    width: 1133px;
    display: -webkit-box;
	display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-between;
		-ms-flex-pack: space-between;
			justify-content: space-between;
}
.prices_title {
    padding-bottom: 10px;
}
.prices_paragraph {
    padding-bottom: 40px;
}
.prices_list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 220px 254px;
    grid-template-columns: 220px 254px;
    -ms-grid-rows: 68px 68px 68px 68px 68px 28px;
    grid-template-rows: 68px 68px 68px 68px 68px 28px;
}
.prices_list > li:nth-child(1) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
	-ms-grid-row: 1;
	-ms-grid-row-span: 1;
	grid-row: 1 / 2;
}
.prices_list > li:nth-child(2) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
	-ms-grid-row: 2;
	-ms-grid-row-span: 1;
	grid-row: 2 / 3;
}
.prices_list > li:nth-child(3) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
	-ms-grid-row: 3;
	-ms-grid-row-span: 1;
	grid-row: 3 / 4;
}
.prices_list > li:nth-child(4) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
	-ms-grid-row: 4;
	-ms-grid-row-span: 1;
	grid-row: 4 / 5;
}
.prices_list > li:nth-child(5) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
	-ms-grid-row: 5;
	-ms-grid-row-span: 1;
	grid-row: 5 / 6;
}
.prices_list > li:nth-child(6) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
	-ms-grid-row: 6;
	-ms-grid-row-span: 1;
	grid-row: 6 / 7;
}
.prices_list > li:nth-child(7) {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
	-ms-grid-row: 1;
	-ms-grid-row-span: 1;
	grid-row: 1 / 2;
}
.prices_list > li:nth-child(8) {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
	-ms-grid-row: 2;
	-ms-grid-row-span: 1;
	grid-row: 2 / 3;
}
.prices_list > li:nth-child(9) {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
	-ms-grid-row: 3;
	-ms-grid-row-span: 1;
	grid-row: 3 / 4;
}
.prices_list > li:nth-child(10) {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
	-ms-grid-row: 4;
	-ms-grid-row-span: 1;
	grid-row: 4 / 5;
}
.prices_list > li:nth-child(11) {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
	-ms-grid-row: 5;
	-ms-grid-row-span: 1;
	grid-row: 5 / 6;
}
.prices_list > li:nth-child(12) {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
	-ms-grid-row: 6;
	-ms-grid-row-span: 1;
	grid-row: 6 / 7;
}
.cps_prices_btn {
    margin-top: 40px;
    margin-bottom: 30px;
    border: 3px solid #FFAC22;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 7px;
    font-family: "Roboto_Bold";
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: #000000;
    display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
    width: 111px;
    height: 50px;
}
.cps_wrap_footer {
    margin-top: 160px;
    width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
    background: #F9F9F9;
}
.cps_footer {
    width: 1292px;
    height: 153px;
    display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: space-between;
		-ms-flex-pack: space-between;
			justify-content: space-between;
    margin-top: 48px;
    margin-bottom: 75px;
}
.cps_footer_section1 {
}
.cps_company_year {
    font-family: "Roboto_Regular";
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 140%;
    color: #000000;
    padding-top: 65px;
}
.cps_footer_section2 {
    width: 408px;
    height: 135.49px;
}
.cps_footer_nav {
    width: 100%;
    padding-top: 17px;
}
.cps_footer_list {
    display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: space-between;
		-ms-flex-pack: space-between;
			justify-content: space-between;
}
.cps_footer_link, .cps_footer_link:visited {
    font-family: "Roboto_Regular";
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 140%;
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
    color: #000000;
}
.cps_footer_icons {
    padding-top: 73.51px;
}

.cps_icons_list {
    display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: flex-end;
		-ms-flex-pack: flex-end;
			justify-content: flex-end;
	-webkit-box-align: start;
		-ms-flex-align: start;
			align-items: start;
}
.cps_icons_item {
    padding-left: 21px;
}
.cps_icons_link a {
    height: 27.72px;
    width: 27.72px;
}

#cpsEl {
  position: relative;
  top: 628px;
  display: inline-table;
  left: -1113px;
}
#TV_br {
    display: none;
}
.DAF_br {
	display: none;
}
.popup3 {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-transition: all 0.8s ease 0s;
    -o-transition: all 0.8s ease 0s;
    transition: all 0.8s ease 0s;
}
.popup3.open {
    opacity: 1;
    visibility: visible;
}
.popup3.open .popup_content3 {
    -webkit-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    opacity: 1;
    z-index: 1000;
}
.popup_body3 {
    min-height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 10px 10px;
}

.popup_content3 {
    position: relative;
    background-color: #fff;
    color: black;
    width: 570px;
    max-height: 712px;
    padding: 25px;
    -webkit-transition: all 0.8s ease 0s;
    -o-transition: all 0.8s ease 0s;
    transition: all 0.8s ease 0s;
    opacity: 0;
    -webkit-transform: translate(0px, -100%);
        -ms-transform: translate(0px, -100%);
            transform: translate(0px, -100%);
}
.popup_close3 {
    position: absolute;
    right: 25px;
    top: 25px;
    display: block;
    width: 30px;
    height: 20px;
    z-index: 3;
    cursor: pointer;
}
.popup_close3::before,
.popup_close3::after {
    content: "";
    background-color: black;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
}
.popup_close3::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
}
.popup_close3::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
}
.popup_title3 {
    font-family: "Play_Bold";
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    color: #000000;
}
.pop_paragraph {
    font-family: "Roboto_Regular";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 140%;
    color: #000000;
    padding-top: 10px;
    padding-bottom: 20px;
}
.pop_input_container3 {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.pop_input3 {
    width: 100%;
    height: 50px;
    border: 2px solid #808080;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 7px;
    padding: 10px 20px 12px 20px;
    margin-bottom: 20px;
}
.pop_input3::-webkit-input-placeholder {
    font-family: "Roboto_Regular";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 140%;
    color: #808080;
}
.pop_input3::-moz-placeholder {
    font-family: "Roboto_Regular";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 140%;
    color: #808080;
}
.pop_input3:-ms-input-placeholder {
    font-family: "Roboto_Regular";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 140%;
    color: #808080;
}
.pop_input3::-ms-input-placeholder {
    font-family: "Roboto_Regular";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 140%;
    color: #808080;
}
.pop_input3::placeholder {
    font-family: "Roboto_Regular";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 140%;
    color: #808080;
}
.pop_input3[type="text"] {
    font-family: "Roboto_Regular";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 140%;
    color: black;
}
.pop_footer3 {
    width: 100%;
    height: 51px;
    display: -webkit-box;
	display: -ms-flexbox;
    display: flex;
}
.pop_btn3 {
    border: 3px solid #FFAC22;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 7px;
    font-family: "Roboto_Regular";
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: #000000;
    padding: 10px 30px 12px 30px;
}
.pop_paragraph2 {
    font-family: "Inter_Regular";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 120%;
    color: #000000;
    margin-left: 20px;
}
body.lock {
    overflow: hidden;
}
.lock_padding {
    position: fixed;
    width: 0;
    height: 0;
}