.cmp_supported {
    margin-top: 160px;
    width: 100%;
    height: 539.96px;
    position: relative;
}
.supported_paragraph {
    padding-top: 20px;
}
.cmp_supported_list {

}
.cmp_supported_item {
    font-family: "Roboto_Regular";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 140%;
    text-align: center;
    color: #000000;
    position: absolute;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
    width: 211px;
    height: 184px;
    background: url('../img/Yellow\ rhombus.svg') no-repeat;
}
.cmp_supported_list > li:nth-child(1) {
    left: 0px;
    top: 358px;
}
.cmp_supported_list > li:nth-child(2) {
    left: 154px;
    top: 268px;
}
.cmp_supported_list > li:nth-child(3) {
    left: 309px;
    top: 359px;
}
.cmp_supported_list > li:nth-child(4) {
    left: 464px;
    top: 268px;
}
.cmp_supported_list > li:nth-child(5) {
    left: 618px;
    top: 179px;
}
.cmp_supported_list > li:nth-child(6) {
    left: 774px;
    top: 88px;
}
.cmp_supported_list > li:nth-child(7) {
    left: 928px;
    top: 0px;
}
.cmp_supported_list > li:nth-child(8) {
    left: 1083px;
    top: 88px;
}
.cmp_pricing {
    margin-top: 160px;
    width: 100%;
    display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-pack: space-between;
		-ms-flex-pack: space-between;
			justify-content: space-between;
}
.pricing_paragraph {
    padding-top: 20px;
}
.cmp_pricing_btn_block {
    padding-top: 20px;
    width: 609px;
    display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: space-between;
		-ms-flex-pack: space-between;
			justify-content: space-between;
}
.cmp_pricing_btn1 {
    border: 3px solid #FFAC22;
    box-sizing: border-box;
    border-radius: 7px;
    padding: 10px 0px 12px 30px;
    font-family: "Roboto_Bold";
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    color: #000000;
    width: 336px;
    height: 53px;
    display: block;
}
.cmp_pricing_btn2 {
    border: 3px solid #FFAC22;
    box-sizing: border-box;
    border-radius: 7px;
    font-family: "Roboto_Bold";
    padding: 10px 0px 12px 30px;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    color: #000000;
    display: block;
    width: 243px;
    height: 53px;
}
.cmp_pricing_section2 {
    margin-top: 66px;
}
.cmp_wrap_footer {
    margin-top: 160px;
    width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
    background: #F9F9F9;
}
.cmp_footer {
    width: 1291px;
    height: 152.49px;
    margin-top: 48px;
    margin-bottom: 80px;
    display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: space-between;
		-ms-flex-pack: space-between;
			justify-content: space-between;
}
.cmp_footer_section1 {
    width: 155px;
    height: 153px;
}
.cmp_logo_link {
    width: 155.02px;
    height: 56.98px;
}
.cmp_footer_logo {
    padding-bottom: 65px;
}

.cmp_company_year {
    font-family: "Roboto_Regular";
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 140%;
    color: #000000;
}
.cmp_footer_section2 {
    width: 408px;
    height: 135.49px;
}
.cmp_footer_nav {
    width: 100%;
    padding-top: 17px;
}
.cmp_footer_list {
    display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: space-between;
		-ms-flex-pack: space-between;
			justify-content: space-between;
}
.cmp_footer_link, .cmp_footer_link:visited {
    font-family: "Roboto_Regular";
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 140%;
    text-decoration-line: underline;
    color: #000000;
}
.cmp_footer_icons {
    padding-top: 73.51px;
}
.cmp_icons_list {
    display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: flex-end;
		-ms-flex-pack: flex-end;
			justify-content: flex-end;
	-webkit-box-align: start;
		-ms-flex-align: start;
			align-items: start;
}
.cmp_icons_item {
    padding-left: 21px;
}
.cmp_icons_link a {
    height: 27.72px;
    width: 27.72px;
}
.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.8s ease 0s;
}
.popup:target {
    opacity: 1;
    visibility: visible;
}
.popup:target .popup_content {
    transform: translate(0px, 0px);
    opacity: 1;
    z-index: 1000;
}
.popup_body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
}

.popup_content {
    position: relative;
    background-color: #fff;
    color: black;
    width: 570px;
    max-height: 712px;
    padding: 25px;
    transition: all 0.8s ease 0s;
    opacity: 0;
    transform: translate(0px, -100%);
}
.popup_close {
    position: absolute;
    right: 25px;
    top: 25px;
    display: block;
    width: 30px;
    height: 20px;
    z-index: 3;
    cursor: pointer;
}
.popup_close::before,
.popup_close::after {
    content: "";
    background-color: black;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
}
.popup_close::before {
    transform: rotate(45deg);
    top: 9px;
}
.popup_close::after {
    transform: rotate(-45deg);
    bottom: 9px;
}
.popup_title {
    font-family: "Play_Bold";
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    color: #000000;
}
.pop_paragraph {
    font-family: "Roboto_Regular";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 140%;
    color: #000000;
    padding-top: 10px;
    padding-bottom: 20px;
}
.pop_input_container {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.pop_input {
    width: 100%;
    height: 50px;
    border: 2px solid #808080;
    box-sizing: border-box;
    border-radius: 7px;
    padding: 10px 20px 12px 20px;
    margin-bottom: 20px;
}
.pop_input::placeholder {
    font-family: "Roboto_Regular";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 140%;
    color: #808080;
}
.pop_input[type="text"] {
    font-family: "Roboto_Regular";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 140%;
    color: black;
}
.pop_footer {
    width: 100%;
    height: 51px;
    display: -webkit-box;
	display: -ms-flexbox;
    display: flex;
}
.pop_btn {
    border: 3px solid #FFAC22;
    box-sizing: border-box;
    border-radius: 7px;
    font-family: "Roboto_Regular";
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: #000000;
    padding: 10px 30px 12px 30px;
}
.pop_paragraph2 {
    font-family: "Inter_Regular";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 120%;
    color: #000000;
    margin-left: 20px;
}
body.lock {
    overflow: hidden;
}
.popup2 {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.8s ease 0s;
}
.popup2:target {
    opacity: 1;
    visibility: visible;
}
.popup2:target .popup_content2 {
    transform: translate(0px, 0px);
    opacity: 1;
}
.popup_body2 {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
}

.popup_content2 {
    position: relative;
    background-color: #fff;
    color: black;
    width: 570px;
    max-height: 712px;
    padding: 25px;
    transition: all 0.8s ease 0s;
    opacity: 0;
    transform: translate(0px, -100%);
}
.popup_close2 {
    position: absolute;
    right: 25px;
    top: 25px;
    display: block;
    width: 30px;
    height: 20px;
    z-index: 3;
    cursor: pointer;
}
.popup_close2::before,
.popup_close2::after {
    content: "";
    background-color: black;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
}
.popup_close2::before {
    transform: rotate(45deg);
    top: 9px;
}
.popup_close2::after {
    transform: rotate(-45deg);
    bottom: 9px;
}
.popup_title2 {
    font-family: "Play_Bold";
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    color: #000000;
}
.pop_input_container2 {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.pop_input2 {
    width: 100%;
    height: 50px;
    border: 2px solid #808080;
    box-sizing: border-box;
    border-radius: 7px;
    padding: 10px 20px 12px 20px;
    margin-bottom: 20px;
}
.pop_input2::placeholder {
    font-family: "Roboto_Regular";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 140%;
    color: #808080;
}
.pop_input2[type="text"] {
    font-family: "Roboto_Regular";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 140%;
    color: black;
}
.pop_footer2 {
    width: 100%;
    height: 51px;
    display: -webkit-box;
	display: -ms-flexbox;
    display: flex;
}
.pop_btn2 {
    border: 3px solid #FFAC22;
    box-sizing: border-box;
    border-radius: 7px;
    font-family: "Roboto_Regular";
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: #000000;
    padding: 10px 30px 12px 30px;
}
body.lock {
    overflow: hidden;
}
