.cps_computing {
    margin-top: 160px;
}
.computing_title {
    padding-bottom: 20px;
}
.cps_machines {
    width: 100%;
    padding-top: 30px;
}
.del_p {
  display: none;
}
.h3_title {
    font-family: "Play_Bold";
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    color: #000000;
}
.machines_title {
    padding-bottom: 30px;
}
.cps_machines_block {
    width: 100%;
    padding-bottom: 20px;
    display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: space-between;
		-ms-flex-pack: space-between;
			justify-content: space-between;
}
.starminers_block {
    display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: space-between;
		-ms-flex-pack: space-between;
			justify-content: space-between;
}
.starminer_title {
    padding-bottom: 10px;
}
.starminer8A_list {
    padding-top: 40px;
    padding-bottom: 40px;
    display: grid;
    grid-template-columns: 220px 380px;
    grid-template-rows:220px 96px 68px 96px 96px 96px 28px;
}
.starminer8A_list > li:nth-child(1) {
    grid-column: 1 / 2;
	grid-row: 1 / 2;
}
.starminer8A_list > li:nth-child(2) {
    grid-column: 1 / 2;
	grid-row: 2 / 3;
}
.starminer8A_list > li:nth-child(3) {
    grid-column: 1 / 2;
	grid-row: 3 / 4;
}
.starminer8A_list > li:nth-child(4) {
    grid-column: 1 / 2;
	grid-row: 4 / 5;
}
.starminer8A_list > li:nth-child(5) {
    grid-column: 1 / 2;
	grid-row: 5 / 6;
}
.starminer8A_list > li:nth-child(6) {
    grid-column: 1 / 2;
	grid-row: 6 / 7;
}
.starminer8A_list > li:nth-child(7) {
    grid-column: 1 / 2;
	grid-row: 7 / 8;
}
.starminer8A_list > li:nth-child(8) {
    grid-column: 2 / 3;
	grid-row: 1 / 2;
}
.starminer8A_list > li:nth-child(9) {
    grid-column: 2 / 3;
	grid-row: 2 / 3;
}
.starminer8A_list > li:nth-child(10) {
    grid-column: 2 / 3;
	grid-row: 3 / 4;
}
.starminer8A_list > li:nth-child(11) {
    grid-column: 2 / 3;
	grid-row: 4 / 5;
}
.starminer8A_list > li:nth-child(12) {
    grid-column: 2 / 3;
	grid-row: 5 / 6;
}
.starminer8A_list > li:nth-child(13) {
    grid-row: 2 / 3;
	grid-row: 6 / 7;
}
.starminer8A_list > li:nth-child(14) {
    grid-row: 2 / 3;
	grid-row: 7 / 8;
}
.starminer_gray {
    font-family: "Roboto_Bold";
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 140%;
    color: #808080;
}
.block_paragraph > p:nth-child(2) {
    padding-top: 20px;
    padding-bottom: 20px;
}
.starminer_btn {
    margin-top: 40px;
    border: 3px solid #FFAC22;
    box-sizing: border-box;
    border-radius: 7px;
    font-family: "Roboto_Bold";
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: #000000;
    width: 111px;
    height: 50px;
    display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
}
.V8_btn {
    margin-top: 68px;
}
.cps_modular {
    margin-top: 160px;
    width: 100%;
    display: -webkit-box;
	display: -ms-flexbox;
    display: flex;
    flex-direction: column;
}
.cps_modular_block {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: space-between;
		-ms-flex-pack: space-between;
			justify-content: space-between;
}
.cps_modular_section1 {
    display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    width: 300px;
    height: 246px;
    flex-direction: column;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
            -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: end;
}
.cps_modular_section2 {
    display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    width: 300px;
    height: 274px;
    flex-direction: column;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
            -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: end;
}
#modular_paragraph1 {
    width: 157px;
    text-align: center;
    margin-top: 50px;
}
#modular_paragraph2 {
    width: 260px;
    text-align: center;
    margin-top: 50px;
}
#modular_paragraph3 {
    width: 260px;
    text-align: center;
    margin-top: 50px;
}
#modular_paragraph4 {
    width: 260px;
    text-align: center;
    margin-top: 50px;
}
.cps_modular_img {
    width: 100px;
    height: 100px;
}
.cps_modular_btn {
    width: 245px;
    height: 50px;
    border: 3px solid #FFAC22;
    box-sizing: border-box;
    border-radius: 7px;
    font-family: "Roboto_Bold";
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: #000000;
    display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
}
