@media (min-width: 768px) and (max-width: 1290px) {
    .au_header,
    .au_main,
    .au_footer {
        width: 730px;
    }
    .au_header {
        height: 70px;
        -webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
    }
    .au_header_link {
        width: 109px;
        height: 40.06px;
    }
    .au_header_list {
        padding-bottom: 0px;
    }
    .au_header_item {
        margin-left: 25px;
    }
    .au_header_link, .au_header_link:visited {
        font-size: 16px;
        line-height: 19px;
    }
    .about_us {
        margin-top: 80px;
    }
    .h1_title {
        font-size: 50px;
        line-height: 58px;
        padding-bottom: 20px;
    }
    .au_paragraph {
        font-size: 16px;
    }
    .au_paragrapg_br br {
        display: none;
    }
    /* canvas {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    #hexa {
        width: 511px;
        height: 613px;
        clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
        transform: rotate(
    90deg);
        position: relative;
        top: -34px;
        overflow: hidden;
    } */
    .mission_contact {
        margin-top: -180px; /*!Возможно, надо поправить */
        width: 348px;
        flex-direction: column;
    }
    .au_contact {
        margin-top: 40px;
        width: 252px;
        left: 0px;
    }
    .au_whatsapp {
        margin-top: 2px;
        padding: 0;
        width: 15px;
        height: 16px;
        right: 0;
    }
    #third_whats {
        margin-left: 9px;
    }
    .au_wrap_footer {
        margin-top: 60px;
    }
    .au_footer {
        height: 134px;
        margin-bottom: 80px;
    }
    .au_footer_section1 {
        width: 112px;
        height: 128.98px;
    }
    .au_logo_link {
        width: 102px;
        height: 37.49px;
    }
    .au_footer_logo {
        width: 102px;
        height: 37.49px;
    }
    .au_company_year {
        font-size: 16px;
        padding: 69.49px 0px 4.02px 0px;
    }
    .au_footer_section2 {
        width: 392.87px;
        height: 125.73px;
    }
    .au_footer_nav {
        width: 332px;
        padding-top: 7.74px;
        margin-left: 61px;
    }
    .au_footer_link, .au_footer_link:visited {
        font-size: 16px;
    }
    .au_footer_icons {
        padding-top: 72.74px;
    }
    .au_icons_link a {
        height: 31px;
        width: 31px;
    }
}
