@media (min-width: 768px) and (max-width: 1290px) {
    .cmp_header,
    .cmp_main,
    .cmp_footer {
        width: 730px;
    }
    .cmp_header {
        margin-top: 0px;
        height: 70px;
    }
    .cmp_header_logo {
        width: 109px;
        height: 40.06px;
    }
    .cmp_header_item {
        padding-left: 25px;
    }
    .cmp_header_link, .cmp_header_link:visited {
        font-size: 16px;
        line-height: 19px;
    }
    .cmp_main_section1 {
        margin-top: 100px;
    }
    .cmp_computing1 {
        width: 465px;
        height: 395px;
    }
    .h1_title {
        font-size: 50px;
        line-height: 58px;
    }
    .main_paragraph {
        font-size: 16px;
        width: 470px;
    }
    .machine_section2_paragraph {
        padding: 14px 0px;
    }
    #machine_special_paragraph br {
        display: none;
    }
    .cmp_computing_paragraph1 br {
        display: none;
    }
    .cmp_computing_paragraph2 br {
        display: none;
    }
    .cmp_computing2 {
        width: 459.02px;
        height: 528.24px;
        position: absolute;
        top: 39px;
        transform: scale(0.6);
        left: 440px;
    }
    .cmp_machine {
        margin-top: 100px;
    }
    .machine_section1 {
        margin-bottom: 52px;
    }
    .machine_subtitle {
        font-size: 24px;
        line-height: 28px;
    }
    .h2_title {
        font-size: 30px;
        line-height: 35px;
    }
    .machine_section2_block {
        width: 249px;
        height: 297px;
    }
    .machine_section2_content {
        width: 463px;
        height: 560px;
    }
    .machine_section2_list {
        grid-template-columns: 186px 277px;
        grid-template-rows: 190px 74px 52px 74px 74px 74px 22px;
    }
    .machine_list_gray {
        font-size: 16px;
    }
    .machine_list_normal {
        font-size: 16px;
    }
    .cmp_advantages {
        margin-top: 100px;
    }
    .advantages_paragraph {
        padding: 10px 0px 39px 0px;
    }
    .cmp_advantages_section1 {
        margin-bottom: 60px;
    }
    .cmp_advantages_section1 > div:nth-child(1) {
        margin-right: 20px;
    }
    .cmp_advantages_section1 > div:nth-child(2) {
        margin-right: 0px;
    }
    .cmp_advantages_section1 > div:nth-child(3) {
        margin-right: 20px;
        margin-top: 37px;
    }
    .cmp_advantages_section1 > div:nth-child(4) {
        margin-right: 0px;
        margin-top: 37px;
    }
    .cmp_advantages_section1 > div:nth-child(5) {
        margin-right: 20px;
        margin-top: 37px;
    }
    .cmp_advantages_section1 > div:nth-child(6) {
        margin-right: 0px;
        margin-top: 37px;
    }
    .cmp_advantages_section1 > div:nth-child(7) {
        margin-right: 20px;
        margin-top: 37px;
    }
    .cmp_advantages_section1 > div:nth-child(8) {
        margin-right: 0px;
        margin-top: 37px;
    }
    .cmp_advantages_block {
        width: 354px;
        height: 241px;
    }
    .cmp_advantages_img {
        margin-top: 39px;
        width: 130px;
        height: 130px;
    }
    .advantages_content br {
        display: none;
    }
    .cmp_advantages_section2 {
        margin-bottom: 49px;
    }
    .cmp_advantages_section2_content1 {
        width: 348px;
    }
    .cmp_advantages_section2_img {
        width: 56.2px;
        height: 64.9px;
        margin-right: 10.8px;
    }
    .cmp_advantages_paragraph {
        font-size: 16px;
        line-height: 19px;
    }
    .cmp_advantages_section2_content2 {
        width: 354px;
    }
    .cmp_advantages_section2_br br {
        display: none;
    }
    .cmp_advantages_flexcontainer {
        width: 466px;
    }
    .cmp_advantages_input {
        width: 223px;
        height: 44px;
    }
    .cmp_advantages_btn {
        width: 223px;
        height: 45px;
        padding: 0;
    }
    .cmp_supported {
        margin-top: 100px;
        height: 445.8px;
    }
    .supported_paragraph {
        padding-top: 10px;
    }
    .cmp_supported_item {
        font-size: 13px;
        width: 120px;
        height: 104px;
        background: url('../img/rhombus\ for\ 768.svg') no-repeat;
    }
    .cmp_supported_list > li:nth-child(1) {
        left: 0px;
        top: 345px;
    }
    .cmp_supported_list > li:nth-child(2) {
        left: 89px;
        top: 294px;
    }
    .cmp_supported_list > li:nth-child(3) {
        left: 175px;
        top: 345px;
    }
    .cmp_supported_list > li:nth-child(4) {
        left: 263px;
        top: 294px;
    }
    .cmp_supported_list > li:nth-child(5) {
        left: 350px;
        top: 242px;
    }
    .cmp_supported_list > li:nth-child(6) {
        left: 438px;
        top: 192px;
    }
    .cmp_supported_list > li:nth-child(7) {
        left: 525px;
        top: 141px;
    }
    .cmp_supported_list > li:nth-child(8) {
        left: 612px;
        top: 192px;
    }
    .cmp_pricing {
        margin-top: 100px;
    }
    #pricing_title {
        padding-bottom: 14px;
    }
    .pricing_paragraph {
        padding-bottom: 20px;
        padding-top: 0;
        width: 411px;
    }
    .pricing_paragraph br {
        display: none;
    }
    .cmp_pricing_btn_block {
        padding-top: 5px;
        width: 408.73px;
    }
    .cmp_pricing_btn1 {
        font-size: 14.9839px;
        width: 228.87px;
        height: 35.98px;
    }
    .cmp_pricing_btn2 {
        font-size: 14.9839px;
        width: 165.87px;
        height: 35.98px;
    }
    .cmp_pricing_section2 {
        margin-top: 49px;
    }
    .cmp_pricing_img {
        width: 280px;
        height: 45.79px;
    }
    .cmp_wrap_footer {
        margin-top: 102px;
    }
    .cmp_footer {
        height: 134px;
    }
    .cmp_footer_section1 {
        width: 112px;
        height: 129px;
    }
    .cmp_logo_link {
    }
    .cmp_footer_logo {
        width: 102px;
        height: 37.49px;
        padding: 0;
        margin-bottom: 69.5px;
    }
    .cmp_company_year {
        font-size: 16px;
    }
    .cmp_footer_section2 {
        width: 393px;
        height: 126px;
    }
    .cmp_footer_nav {
        width: 332px;
        padding-top: 8px;
        margin-left: 61px;
    }
    .cmp_footer_link, .cmp_footer_link:visited {
        font-size: 16px;
    }
    .cmp_footer_icons {
        padding-top: 72.74px;
    }
    .cmp_icons_link a {
        height: 31px;
        width: 31px;
    }
    .popup_content {
        width: 513px;
        max-height: 658px;
    }
    .popup_close {
        width: 25px;
        height: 20px;
    }
    .pop_input {
        height: 44px;
    }
    .pop_input::placeholder {
        font-size: 16px;
    }
    .pop_input[type="text"] {
        font-size: 16px;
    }
    .popup_content2 {
        width: 513px;
        max-height: 658px;
    }
    .popup_close2 {
        width: 25px;
        height: 20px;
    }
    .pop_input2 {
        height: 44px;
    }
    .pop_input2::placeholder {
        font-size: 16px;
    }
    .pop_input2[type="text"] {
        font-size: 16px;
    }
}
